<p id="notice"><%= notice %></p>

<p>
  <strong>Supplier:</strong>
  <%= @product.supplier.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category.description %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Quantity per unit:</strong>
  <%= @product.quantity_per_unit %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @product.unit_price %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @product.image.url(:medium) %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
