<p id="notice"><%= notice %></p>

<h1>Order Items</h1>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Employee</th>
      <th>Customer</th>
      <th>Product</th>
      <th>Image</th>
      <th>Unit price</th>
      <th>Quantity</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_items.each do |order_item| %>
      <tr>
        <td><%= order_item.order.id %></td>
        <td><%= order_item.order.employee.description %></td>
        <td><%= order_item.order.customer.description %></td>
        <td><%= order_item.product.description %></td>
        <td><%= image_tag order_item.product.image.url(:thumb) %></td>
        <td><%= order_item.product.unit_price %></td>
        <td><%= order_item.quantity %></td>
        <td><%= order_item.product.unit_price * order_item.quantity %></td>
        <td><%= link_to 'Show', order_item %></td>
        <td><%= link_to 'Edit', edit_order_item_path(order_item) %></td>
        <td><%= link_to 'Destroy', order_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New', new_order_item_path %> | 
<%= link_to 'Back', home_index_path %>
