<p id="notice"><%= notice %></p>

<p>
  <strong>Shipper:</strong>
  <%= @order.shipper.description %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @order.employee.description %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer.description %>
</p>

<p>
  <strong>Order date:</strong>
  <%= @order.order_date %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
